@inherits CurrentParticipantsComponentBase

@namespace ScrumRetroApp.Blazor.Components

<div class="col-6 text-right">
    Current Participants:
    @foreach (var image in this._session.UserURLImages.Take(10))
    {
        <style>
            #profileImage {
                border-radius: 50%;
                width: 24px;
                height: 24px;
            }
        </style>
        <div class="d-inline">
            <img src="@image" alt="@this._session.UserName" id="profileImage"/>
        </div>
    }

</div>