@inherits HamburgerMenuComponentBase

@namespace ScrumRetroApp.Blazor.Components

<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="history">History</a>
    <a class="dropdown-item" href="archiv">Archiv</a>
    <a class="dropdown-item" href="pending-tasks">Pending tasks</a>
    <a class="dropdown-item" href="pending-measures">Pending measures</a>
    <a class="dropdown-item" href="pre-collection">Pre-Collection</a>
</div>