.mt-px-10 {
    margin-top: 10px !important;
}

.mt-px-20 {
    margin-top: 20px !important;
}

.mt-px-30 {
    margin-top: 30px !important;
}

.mt-px-40 {
    margin-top: 40px !important;
}

.mt-px-50 {
    margin-top: 50px !important;
}

.mt-px-60 {
    margin-top: 60px !important;
}

.mt-px-70 {
    margin-top: 70px !important;
}

.mt-px-80 {
    margin-top: 80px !important;
}

.mt-px-90 {
    margin-top: 90px !important;
}

.mt-px-100 {
    margin-top: 100px !important;
}

.mr-px-10 {
    margin-right: 10px !important;
}

.mr-px-20 {
    margin-right: 20px !important;
}

.mr-px-30 {
    margin-right: 30px !important;
}

.mr-px-40 {
    margin-right: 40px !important;
}

.mr-px-50 {
    margin-right: 50px !important;
}

.mr-px-60 {
    margin-right: 60px !important;
}

.mr-px-70 {
    margin-right: 70px !important;
}

.mr-px-80 {
    margin-right: 80px !important;
}

.mr-px-90 {
    margin-right: 90px !important;
}

.mr-px-100 {
    margin-right: 100px !important;
}

.mb-px-10 {
    margin-bottom: 10px !important;
}

.mb-px-20 {
    margin-bottom: 20px !important;
}

.mb-px-30 {
    margin-bottom: 30px !important;
}

.mb-px-40 {
    margin-bottom: 40px !important;
}

.mb-px-50 {
    margin-bottom: 50px !important;
}

.mb-px-60 {
    margin-bottom: 60px !important;
}

.mb-px-70 {
    margin-bottom: 70px !important;
}

.mb-px-80 {
    margin-bottom: 80px !important;
}

.mb-px-90 {
    margin-bottom: 90px !important;
}

.mb-px-100 {
    margin-bottom: 100px !important;
}

.ml-px-10 {
    margin-left: 10px !important;
}

.ml-px-20 {
    margin-left: 20px !important;
}

.ml-px-30 {
    margin-left: 30px !important;
}

.ml-px-40 {
    margin-left: 40px !important;
}

.ml-px-50 {
    margin-left: 50px !important;
}

.ml-px-60 {
    margin-left: 60px !important;
}

.ml-px-70 {
    margin-left: 70px !important;
}

.ml-px-80 {
    margin-left: 80px !important;
}

.ml-px-90 {
    margin-left: 90px !important;
}

.ml-px-100 {
    margin-left: 100px !important;
}

.pt-px-10 {
    padding-top: 10px !important;
}

.pt-px-20 {
    padding-top: 20px !important;
}

.pt-px-30 {
    padding-top: 30px !important;
}

.pt-px-40 {
    padding-top: 40px !important;
}

.pt-px-50 {
    padding-top: 50px !important;
}

.pt-px-60 {
    padding-top: 60px !important;
}

.pt-px-70 {
    padding-top: 70px !important;
}

.pt-px-80 {
    padding-top: 80px !important;
}

.pt-px-90 {
    padding-top: 90px !important;
}

.pt-px-100 {
    padding-top: 100px !important;
}

.pr-px-10 {
    padding-right: 10px !important;
}

.pr-px-15 {
    padding-right: 15px !important;
}

.pr-px-20 {
    padding-right: 20px !important;
}

.pr-px-30 {
    padding-right: 30px !important;
}

.pr-px-40 {
    padding-right: 40px !important;
}

.pr-px-50 {
    padding-right: 50px !important;
}

.pr-px-60 {
    padding-right: 60px !important;
}

.pr-px-70 {
    padding-right: 70px !important;
}

.pr-px-80 {
    padding-right: 80px !important;
}

.pr-px-90 {
    padding-right: 90px !important;
}

.pr-px-100 {
    padding-right: 100px !important;
}

.pb-px-10 {
    padding-bottom: 10px !important;
}

.pb-px-20 {
    padding-bottom: 20px !important;
}

.pb-px-30 {
    padding-bottom: 30px !important;
}

.pb-px-40 {
    padding-bottom: 40px !important;
}

.pb-px-50 {
    padding-bottom: 50px !important;
}

.pb-px-60 {
    padding-bottom: 60px !important;
}

.pb-px-70 {
    padding-bottom: 70px !important;
}

.pb-px-80 {
    padding-bottom: 80px !important;
}

.pb-px-90 {
    padding-bottom: 90px !important;
}

.pb-px-100 {
    padding-bottom: 100px !important;
}

.pl-px-10 {
    padding-left: 10px !important;
}

.pl-px-15 {
    padding-left: 15px !important;
}

.pl-px-20 {
    padding-left: 20px !important;
}

.pl-px-30 {
    padding-left: 30px !important;
}

.pl-px-40 {
    padding-left: 40px !important;
}

.pl-px-50 {
    padding-left: 50px !important;
}

.pl-px-60 {
    padding-left: 60px !important;
}

.pl-px-70 {
    padding-left: 70px !important;
}

.pl-px-80 {
    padding-left: 80px !important;
}

.pl-px-90 {
    padding-left: 90px !important;
}

.pl-px-100 {
    padding-left: 100px !important;
}

.m-px-10 {
    margin: 10px !important;
}

.m-px-20 {
    margin: 20px !important;
}

.m-px-30 {
    margin: 30px !important;
}

.m-px-40 {
    margin: 40px !important;
}

.m-px-50 {
    margin: 50px !important;
}

.m-px-60 {
    margin: 60px !important;
}

.m-px-70 {
    margin: 70px !important;
}

.m-px-80 {
    margin: 80px !important;
}

.m-px-90 {
    margin: 90px !important;
}

.m-px-100 {
    margin: 100px !important;
}

.p-px-10 {
    padding: 10px !important;
}

.p-px-20 {
    padding: 20px !important;
}

.p-px-30 {
    padding: 30px !important;
}

.p-px-40 {
    padding: 40px !important;
}

.p-px-50 {
    padding: 50px !important;
}

.p-px-60 {
    padding: 60px !important;
}

.p-px-70 {
    padding: 70px !important;
}

.p-px-80 {
    padding: 80px !important;
}

.p-px-90 {
    padding: 90px !important;
}

.p-px-100 {
    padding: 100px !important;
}
